.Avatar {
    width: 200px;
    height: 200px;
    display: flex;
    margin: auto;
    border-radius: 50%;
    background-image: url("http://bit.ly/2MFZerM");
    background-position: center;
    background-size: contain;
}

.p-info > div {
    font-family: Cambria;
    font-size: 17px;
    margin: 0px 15px 5px 35px;
    text-align: justify;
}

icon {
    text-align: center;
}

.l-lines {
    border-top: 1px ridge rgba(30, 30, 30, .4);
    width: 30%;
    margin-left: 35px;
}
.hd1 {
    font-family: "Myriad Pro";
    text-align: left;
    font-size: 35px;
    color: rgba(80, 80, 80, 1);
    font-weight: bold;
    margin: 20px 15px 5px 35px;
}

.box {
    height: fit-content;
    font-family: "Century Gothic";
    font-size: 22px;
    font-weight: bolder;
    color: rgba(50, 20, 20, .9);
    margin: 10px 15px 10px 35px;
    text-align: left;
}
.box > div {
    border-left: 3px ridge rgba(20, 30, 90, .5);
    margin: 10px 20px;
    font-family: Cambria;
    color: rgba(60, 60, 60, .9);
    font-size: 18px;
    padding-left: 20px;
}

.box > div > p {
    color: rgba(0, 0, 0, .9);
    font-size: 18px;
    padding: 0px 10px 10px;
}

.hd1-content {
    height: fit-content;
    font-family: "Century Gothic";
    font-weight: bolder;
    color: rgba(0, 0, 0, .9);
    font-size: 18px;
    padding: 0px 10px 10px;
    margin: 10px 15px 10px 35px;
    text-align: left;
}

star {
    padding-left: 5px;
    font-size: smaller;
}
.checked {
    color: orange;
}

.Name {
    font-family: Camellia;
    font-size: 50px;
    padding-left: 60px;
    padding-top: 40px;
    text-align: left;
    color: #200f21;
}

.Title {
    font-family: Victorian;
    font-size: 30px;
    padding-left: 60px;
    margin-top: -50px;
    padding-bottom: 20px;
    text-align: left;
    font-weight: bolder;
    color: #032535;
}

.hd2 {
    font-family: "Myriad Pro";
    text-align: left;
    font-size: 35px;
    color: rgba(80, 80, 80, 1);
    font-weight: bold;
}

.hd2-content {
    margin-top: -20px;
    font-family: Cambria;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    padding-left: 20px;
    padding-right: 50px;
}

.JTitle {
    font-family: "Century Gothic";
    font-size: 25px;
    text-align: left;
    font-weight: bolder;
    margin-top: -20px;
    color: rgba(30, 20, 20, .9);
    padding-top: 15px;
}

.Wperiod {
    font-family: "Century Gothic";
    font-size: 20px;
    margin-top: -10px;
    padding-bottom: 15px;
    text-align: left;
    font-weight: bold;
    color: rgba(30, 20, 20, .9);
}

.r-lines {
    border-top: 1px ridge rgba(30, 30, 30, .4);
    width: 100%;
    float: left;
}

ul.list-cir {
    list-style-type: circle;
    margin-top: -20px;
    font-family: Cambria;
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    padding-left: 30px;
}