/*noinspection ALL*/
.m-layout {
    display: grid;
    grid-template-columns: min-content 85%;
    height: calc(100vw - 5px);
}

.m-layout > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.m-layout > .item1 {
    background-color: #ecefd8;
}

.left-layout {
    height: fit-content;
    padding: 20px 5px;
}


.in-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    padding: 15px;
}

.right-layout {
    height: fit-content;
    grid-template-rows: auto auto;
}

.right-layout > .item1 {
    background-color: #ecefd8;
    height: 180px;
    margin-top: -35px;
}

.right-layout > .item2 {
   margin-left: 60px;
}

#myPopup {
    background-color: aliceblue;
    opacity: 80%;
    box-shadow: 2px 2px lightgray;
    border: none;
    color: lightgray;
    font-family: Cambria;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
}

.popup {
    display: none;
    position: fixed;
    z-index: auto;
    width: 80%;
    height: 80%;
    overflow: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: black;
    float: right;
    font-size: medium;
    font-width: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}