/*noinspection ALL*/
.m-layout {
    display: grid;
    grid-template-columns: min-content 85%;
    height: calc(100vw - 5px);
}

.m-layout > div {
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.m-layout > .item1 {
    background-color: #ecefd8;
}

.left-layout {
    height: fit-content;
    padding: 20px 5px;
}


.in-grid {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-gap: 10px;
    padding: 15px;
}

.right-layout {
    height: fit-content;
    grid-template-rows: auto auto;
}

.right-layout > .item1 {
    background-color: #ecefd8;
    height: fit-content;
    margin-top: -35px;
}

.right-layout > .item2 {
    margin-left: 60px;
}

/*carousel
 */
.container {
    width: 1000px;
    position: relative;
    margin: 60px auto;
}

.Pics {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    alignment: center;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: black;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: grey;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.number {
    color: black;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
